flows/egm_demo_flow.json
[
    {
        "id": "egmTab",
        "type": "tab",
        "label": "ABB-GoFa-12 EGM Demo",
        "disabled": false,
        "info": "Requires rapid/MainModuleEGM.mod loaded on the controller (the top group loads it), a UDPUC transmission protocol named EGM_PC configured on the controller (RobotStudio > Controller > Configuration > Communication > Transmission Protocol, Remote Port = 6510, needs a controller restart), and a firewall rule on this Node-RED host allowing inbound UDP 6510. See the EGM section of CLAUDE.md / README.md."
    },
    {
        "id": "egmComment",
        "type": "comment",
        "z": "egmTab",
        "name": "Prerequisites: MainModuleEGM.mod must be the loaded module, UDPUC \"EGM_PC\" must be configured on the controller (one-time, RobotStudio, needs a restart), and UDP 6510 must be allowed through this host's firewall. See CLAUDE.md's EGM section.",
        "info": "",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "egmGrp1",
        "type": "group",
        "z": "egmTab",
        "name": "0 - Load MainModuleEGM.mod (run once, or whenever MainModule.mod is currently loaded)",
        "style": {
            "stroke": "#aa6600",
            "stroke-opacity": "1",
            "fill": "#f8f0e8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#aa6600"
        },
        "nodes": [
            "egmInjSwitch", "egmStop1", "egmClrPreUnload", "egmUnload", "egmClr1", "egmUpload", "egmClr2",
            "egmLoadmod", "egmClr3", "egmResetpp", "egmClr4", "egmStart", "egmLoadDebug"
        ],
        "x": 38,
        "y": 90,
        "w": 2800,
        "h": 160
    },
    {
        "id": "egmGrp2",
        "type": "group",
        "z": "egmTab",
        "name": "1 - EGM Session (UDP)",
        "style": {
            "stroke": "#00aa44",
            "stroke-opacity": "1",
            "fill": "#e8f5ec",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#00aa44"
        },
        "nodes": ["egmInjStart", "egmInjStop", "egmNode", "egmFeedbackDebug", "egmSineFn"],
        "x": 38,
        "y": 300,
        "w": 900,
        "h": 220
    },
    {
        "id": "egmInjSwitch",
        "type": "inject",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Load MainModuleEGM.mod",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 130,
        "wires": [["egmStop1"]]
    },
    {
        "id": "egmStop1",
        "type": "gofa-rapid-exec",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Stop RAPID",
        "robot": "cfg_egm",
        "action": "stop",
        "x": 350,
        "y": 130,
        "wires": [["egmClrPreUnload"]]
    },
    {
        "id": "egmClrPreUnload",
        "type": "change",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "clear payload",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 130,
        "wires": [["egmUnload"]]
    },
    {
        "id": "egmUnload",
        "type": "gofa-rapid-exec",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Unload MainModule (if loaded)",
        "robot": "cfg_egm",
        "action": "unloadmod",
        "task": "T_ROB1",
        "module": "MainModule",
        "x": 770,
        "y": 130,
        "wires": [["egmClr1"]]
    },
    {
        "id": "egmClr1",
        "type": "change",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "clear payload",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 130,
        "wires": [["egmUpload"]]
    },
    {
        "id": "egmUpload",
        "type": "gofa-upload-mod",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Upload MainModuleEGM.mod",
        "robot": "cfg_egm",
        "localPath": "",
        "remotePath": "$HOME/Programs/MainModuleEGM.mod",
        "x": 1230,
        "y": 130,
        "wires": [["egmClr2"]]
    },
    {
        "id": "egmClr2",
        "type": "change",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "clear payload",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 130,
        "wires": [["egmLoadmod"]]
    },
    {
        "id": "egmLoadmod",
        "type": "gofa-rapid-exec",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Load Module",
        "robot": "cfg_egm",
        "action": "loadmod",
        "task": "T_ROB1",
        "modulePath": "$HOME/Programs/MainModuleEGM.mod",
        "replace": true,
        "module": "MainModuleEGM",
        "x": 1690,
        "y": 130,
        "wires": [["egmClr3"]]
    },
    {
        "id": "egmClr3",
        "type": "change",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "clear payload",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1910,
        "y": 130,
        "wires": [["egmResetpp"]]
    },
    {
        "id": "egmResetpp",
        "type": "gofa-rapid-exec",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Reset PP",
        "robot": "cfg_egm",
        "action": "resetpp",
        "x": 2130,
        "y": 130,
        "wires": [["egmClr4"]]
    },
    {
        "id": "egmClr4",
        "type": "change",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "clear payload",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{}", "tot": "json" }],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2350,
        "y": 130,
        "wires": [["egmStart"]]
    },
    {
        "id": "egmStart",
        "type": "gofa-rapid-exec",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "Start RAPID",
        "robot": "cfg_egm",
        "action": "start",
        "x": 2570,
        "y": 130,
        "wires": [["egmLoadDebug"]]
    },
    {
        "id": "egmLoadDebug",
        "type": "debug",
        "z": "egmTab",
        "g": "egmGrp1",
        "name": "{ ok, action }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2760,
        "y": 130,
        "wires": []
    },
    {
        "id": "egmInjStart",
        "type": "inject",
        "z": "egmTab",
        "g": "egmGrp2",
        "name": "Start EGM",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 350,
        "wires": [["egmNode"]]
    },
    {
        "id": "egmInjStop",
        "type": "inject",
        "z": "egmTab",
        "g": "egmGrp2",
        "name": "Stop EGM",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 400,
        "wires": [["egmNode"]]
    },
    {
        "id": "egmNode",
        "type": "gofa-egm",
        "z": "egmTab",
        "g": "egmGrp2",
        "name": "",
        "robot": "cfg_egm",
        "udpPort": 6510,
        "throttleMs": 100,
        "x": 400,
        "y": 375,
        "wires": [["egmFeedbackDebug", "egmSineFn"]]
    },
    {
        "id": "egmFeedbackDebug",
        "type": "debug",
        "z": "egmTab",
        "g": "egmGrp2",
        "name": "{ joints, seqno, ... }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 350,
        "wires": []
    },
    {
        "id": "egmSineFn",
        "type": "function",
        "z": "egmTab",
        "g": "egmGrp2",
        "name": "Sine sweep joint 6 (±3°, 8s) -> feeds back into EGM",
        "func": "// Mirrors gofa-egm-python's nudge_joint.py: capture the pose on the\n// first feedback frame as baseline, then offset one joint with a smooth\n// sine so it returns to baseline on its own every 8s. Baseline/start are\n// stored in this node's own context, captured once per Node-RED restart\n// or redeploy (context is cleared then) -- re-pressing \"Start EGM\" after\n// a \"Stop EGM\" without redeploying resumes the same sweep rather than\n// re-baselining, which is fine for this demo.\nvar joints = msg.payload && msg.payload.joints;\nif (!Array.isArray(joints) || joints.length !== 6) return null;\n\nif (context.get('baseline') === undefined) {\n    context.set('baseline', joints);\n    context.set('start', Date.now());\n}\n\nvar baseline = context.get('baseline');\nvar elapsed = (Date.now() - context.get('start')) / 1000;\nvar target = baseline.slice();\ntarget[5] = target[5] + 3 * Math.sin(2 * Math.PI * elapsed / 8);\n\nmsg.payload = target;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [["egmNode"]]
    },
    {
        "id": "cfg_egm",
        "type": "gofa-robot",
        "name": "ABB-GoFa-12",
        "ip": "192.168.20.36",
        "rwsPort": "443",
        "socketPort": "1025",
        "username": "NNNN",
        "pointsFile": "points.json",
        "remotePointsPath": ""
    }
]
