flows/gofa_demo_flow.json
[
    {
        "id": "08f5b46ae379bad0",
        "type": "tab",
        "label": "ABB-GoFa-12 Demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6efa757f8eb6b4de",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "1 - Read Robot State",
        "style": {
            "stroke": "#0099cc",
            "stroke-opacity": "1",
            "fill": "#e8f4f8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#0099cc"
        },
        "nodes": [
            "a8f41093367be720",
            "fc09b35bf2c82ae0",
            "26fc174d27c4b390",
            "eb366bf816928c58",
            "d13bf1eb41652f57",
            "7c4ada756e9365cc",
            "850d69e7759eaeb2",
            "8631282940098f50",
            "a9234840b28d5703",
            "bed494f4ef2d9cb2"
        ],
        "x": 9,
        "y": 39,
        "w": 772,
        "h": 247
    },
    {
        "id": "b55ea3d6c2e06b93",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "2 - Move Home / Set Home",
        "style": {
            "stroke": "#00aa44",
            "stroke-opacity": "1",
            "fill": "#e8f5ec",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#00aa44"
        },
        "nodes": [
            "254ed5cae40809a3",
            "d866c29430d7253f",
            "ef4dc1023e30fbd5",
            "62086bca420c7177",
            "98e77329e4cebe1d",
            "9fa0426fd871fb56",
            "9fe967eb4ebd0fe4"
        ],
        "x": 14,
        "y": 299,
        "w": 817,
        "h": 199
    },
    {
        "id": "b22d9e61ec3ef436",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "3 - Motor Control",
        "style": {
            "stroke": "#ff6600",
            "stroke-opacity": "1",
            "fill": "#fff0e8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#ff6600"
        },
        "nodes": [
            "d4e263089ef26cd5",
            "695e2fc98e1cf353",
            "94c76e423494b175",
            "4450e546dbb53822",
            "824a72bbd8b23d74",
            "a9de9f680c8959fa",
            "a4906a494e3d755b"
        ],
        "x": 14,
        "y": 519,
        "w": 787,
        "h": 192
    },
    {
        "id": "621d3a84b4813c70",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "4 - Cartesian Jog",
        "style": {
            "stroke": "#6600cc",
            "stroke-opacity": "1",
            "fill": "#f0e8ff",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#6600cc"
        },
        "nodes": [
            "fb777ca185f1491e",
            "47d460e2889dcbed",
            "2aa0c4bc221998be",
            "483877edddba7e7a",
            "f4a5ee4c5b0506eb",
            "822b3ccfdbaed159",
            "80b64825031bc030",
            "3b144dde667fb24a",
            "fe6b8d898444e9e6",
            "84ded9d71d7bd1db",
            "29a042df4798ea9b",
            "db2e16a626bd1c43",
            "c2e784c3019e4cfc"
        ],
        "x": 14,
        "y": 739,
        "w": 837,
        "h": 302
    },
    {
        "id": "9450844589f3cc3b",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "5 - Joint Jog",
        "style": {
            "stroke": "#009999",
            "stroke-opacity": "1",
            "fill": "#e8f5f5",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#009999"
        },
        "nodes": [
            "802d892946f03412",
            "8d152d7db3e182c3",
            "48fa155af9dddeef",
            "cff347e38ce631a7",
            "2103f7a0a003f1de",
            "efa1b9a68a0f9225",
            "6958ee151f683f81"
        ],
        "x": 14,
        "y": 1059,
        "w": 767,
        "h": 192
    },
    {
        "id": "aebc7d8025a15a6c",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "6 - Saved Points",
        "style": {
            "stroke": "#007744",
            "stroke-opacity": "1",
            "fill": "#e8f5ee",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#007744"
        },
        "nodes": [
            "f86919c88aa4e591",
            "a47aa1d9270e4d63",
            "8a15af31da8fa29d",
            "d1d873fca48b8179",
            "6478e7781d7622dc",
            "62ce2c83f922715d",
            "666a09f4a86b1e86",
            "fb9f7eea7696e42c",
            "a4492942585fb9f6",
            "0bc2884c0e3c54c0",
            "fb211e6b1b90f2e8",
            "57db523c8431d101",
            "b70f96b2c70f009e"
        ],
        "x": 14,
        "y": 1279,
        "w": 917,
        "h": 302
    },
    {
        "id": "939e565b9375950b",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "7 - Sequence Runner",
        "style": {
            "stroke": "#cc0044",
            "stroke-opacity": "1",
            "fill": "#ffe8ee",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cc0044"
        },
        "nodes": [
            "7baa4181f6a6215f",
            "8753b79a708764d7",
            "c5bc1905303759a5",
            "4c8e442b34976b41",
            "83e30323fd0929e3",
            "5c9a981ced248162",
            "014e6b5e2295b80f",
            "68b5a31875bdb44f"
        ],
        "x": 14,
        "y": 1599,
        "w": 967,
        "h": 247
    },
    {
        "id": "ce386d0a14edb1c3",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "8 - TCP Motion (new)",
        "style": {
            "stroke": "#00aa44",
            "stroke-opacity": "1",
            "fill": "#e8f5ec",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#00aa44"
        },
        "nodes": [
            "fc5d62083705fe0c",
            "1fbacc1edd27287b",
            "c3f2154a32b9f203",
            "ce89704b8f36322a",
            "c9ceadcaf831bc26",
            "2f2808433ca4fa37",
            "40f3e7f64151b74c",
            "1580ac8dbca96a2b",
            "2788087a1f5247fb",
            "ae3a9af1fbdd8338",
            "0d8e18cf39a70ad2",
            "2807be23166d17fe",
            "7003965712d79fe1",
            "58c1258ac9220503",
            "97f6b684d80e2596",
            "b86f572f8194b8dd",
            "c1bfeab9dace5ec1",
            "5fe1b12a6a8bc182",
            "1675f30f22b895f8"
        ],
        "x": 854,
        "y": 39,
        "w": 887,
        "h": 412
    },
    {
        "id": "95885e1dae1670e1",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "9 - Speed & RAPID Control (new)",
        "style": {
            "stroke": "#6600cc",
            "stroke-opacity": "1",
            "fill": "#f0e8ff",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#6600cc"
        },
        "nodes": [
            "46a79067828c8e24",
            "91c0b8dedc6ee07d",
            "08b9ef17da3783ee",
            "0ef0eaf62bea7655",
            "7787591525e2cc38",
            "643f27df43e440d3",
            "bbb2cf7f31e5fdee",
            "4d350807ef5d575e",
            "3f7b086feeb3dfa8",
            "d36bcbfb3b85e8ea",
            "d8b18774c89eeca9",
            "792f357a51abc7cf",
            "e2ac0ab0e596fab9",
            "354b13c7e1b27a40"
        ],
        "x": 974,
        "y": 479,
        "w": 727,
        "h": 307
    },
    {
        "id": "95115084ad496f64",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "10 - System, Log & Files (new)",
        "style": {
            "stroke": "#0099cc",
            "stroke-opacity": "1",
            "fill": "#e8f4f8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#0099cc"
        },
        "nodes": [
            "77ab97f9a9554f86",
            "0262d4fb93b74869",
            "38ed547b1df8aed8",
            "c59850f4b05c204d",
            "85928c42bdb21748",
            "553adc05ad2aad92",
            "97d446f92fd87684",
            "d6d66dfd29409aaa",
            "40cc295bbcea070a",
            "9c50e7342ca7418e",
            "3f881d352fec8b4b",
            "982b7ddef2c9f46b",
            "dd9102dcea4ccef6"
        ],
        "x": 874,
        "y": 819,
        "w": 987,
        "h": 302
    },
    {
        "id": "78704319019a587d",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "11 - I/O Signals (new)",
        "style": {
            "stroke": "#ff6600",
            "stroke-opacity": "1",
            "fill": "#fff0e8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#ff6600"
        },
        "nodes": [
            "d54d46e4f4d75da7",
            "aa93ee39491afdea",
            "c234d84f31e43d23",
            "f5b2d6c1f808c498",
            "942c877661144f0f",
            "2aabfe45542c96bb",
            "09c76d4d5f00b97a",
            "60ac642aa637e94f",
            "f8696607a486e515",
            "18ebf7c1f87e6160",
            "aceaef2c35f1c2d8",
            "634aa64a8eae9692",
            "7baaa610f520276c",
            "a24ee262888cd83a",
            "a9481d95d12b362a",
            "9d5827a2cb7f777e"
        ],
        "x": 974,
        "y": 1139,
        "w": 1152,
        "h": 357
    },
    {
        "id": "ca25a46575f6e6b8",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "12 - Lead-through (new)",
        "style": {
            "stroke": "#cc0044",
            "stroke-opacity": "1",
            "fill": "#ffe8ee",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cc0044"
        },
        "nodes": [
            "46790a352faaca0c",
            "7bf5942f54eda996",
            "6e594510d6242c79",
            "c5910929b5f41396",
            "c1b0bb0ca1378da1",
            "c19f2b32477ee11f",
            "cacf48f16615005c"
        ],
        "x": 994,
        "y": 1519,
        "w": 872,
        "h": 192
    },
    {
        "id": "fca205bc4645be7d",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "13 - Points Transfer (new)",
        "style": {
            "stroke": "#009999",
            "stroke-opacity": "1",
            "fill": "#e8f5f5",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#009999"
        },
        "nodes": [
            "73f00499315b6f19",
            "0c67d3e1391a22ae",
            "4f78b1dfaa0d78a3",
            "3c7034fdf3edb252",
            "d24cec3aada47429",
            "d743bf3886792049",
            "c7fe26fb1f5892a1"
        ],
        "x": 1014,
        "y": 1739,
        "w": 1072,
        "h": 192
    },
    {
        "id": "eb77a9bd9c4a0f0f",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "14 - Real-time Subscriptions (new)",
        "style": {
            "stroke": "#003399",
            "stroke-opacity": "1",
            "fill": "#e8eeff",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#003399"
        },
        "nodes": [
            "a64b069f2c96c13d",
            "6c5ca306c6f10492",
            "ae567fc23e20c35b",
            "e875da96515d4973",
            "52a8970840bed03c",
            "13031f8511711815",
            "c2539b438777b9ad",
            "dedc2b3c0203a0b8",
            "2b7b22a7f2634d6b",
            "704df29d067223b7",
            "60c8a197bd07a117",
            "8939a35e84cbc5bd",
            "569ad33614eae2e3"
        ],
        "x": 994,
        "y": 1959,
        "w": 1052,
        "h": 302
    },
    {
        "id": "558444dd40c0ccd4",
        "type": "group",
        "z": "08f5b46ae379bad0",
        "name": "15 - RAPID Execution Control",
        "style": {
            "stroke": "#cc6600",
            "stroke-opacity": "1",
            "fill": "#fff5e8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cc6600"
        },
        "nodes": [
            "4aeca92f79544cf1",
            "2c33863a6308e309",
            "7b8d9314e8f1f1d2",
            "809536b31c66cc90",
            "0a9c5608e3b2ac79",
            "213922eb67e496b7",
            "e6dd55a40839e852",
            "9909447faf50b98f",
            "4185396556f153d8",
            "9ea1ae20458cbf3f"
        ],
        "x": 704,
        "y": 2284,
        "w": 1392,
        "h": 297
    },
    {
        "id": "a8f41093367be720",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "Input: any msg  |  Output: ctrlstate / opmode / speed / rapid / x,y,z / j1-j6",
        "info": "",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "fc09b35bf2c82ae0",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "Read Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 135,
        "wires": [
            [
                "26fc174d27c4b390"
            ]
        ]
    },
    {
        "id": "26fc174d27c4b390",
        "type": "gofa-status",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "",
        "robot": "cfg1",
        "x": 360,
        "y": 135,
        "wires": [
            [
                "eb366bf816928c58"
            ]
        ]
    },
    {
        "id": "eb366bf816928c58",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "{ ctrlstate, opmode, speed, rapid }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 595,
        "y": 135,
        "wires": []
    },
    {
        "id": "d13bf1eb41652f57",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "Read Pose",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 190,
        "wires": [
            [
                "7c4ada756e9365cc"
            ]
        ]
    },
    {
        "id": "7c4ada756e9365cc",
        "type": "gofa-pose",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "",
        "robot": "cfg1",
        "x": 360,
        "y": 190,
        "wires": [
            [
                "850d69e7759eaeb2"
            ]
        ]
    },
    {
        "id": "850d69e7759eaeb2",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "{ x, y, z, q1-q4, cf1/4/6/x }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 595,
        "y": 190,
        "wires": []
    },
    {
        "id": "8631282940098f50",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "Read Joints",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 125,
        "y": 245,
        "wires": [
            [
                "a9234840b28d5703"
            ]
        ]
    },
    {
        "id": "a9234840b28d5703",
        "type": "gofa-joints",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "",
        "robot": "cfg1",
        "x": 360,
        "y": 245,
        "wires": [
            [
                "bed494f4ef2d9cb2"
            ]
        ]
    },
    {
        "id": "bed494f4ef2d9cb2",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "6efa757f8eb6b4de",
        "name": "{ j1, j2, j3, j4, j5, j6 } degrees",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 595,
        "y": 245,
        "wires": []
    },
    {
        "id": "254ed5cae40809a3",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "HOME: robot moves to saved home position  |  SETHOME: saves current pose as the new home",
        "info": "",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "d866c29430d7253f",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "Move HOME",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 195,
        "y": 402,
        "wires": [
            [
                "ef4dc1023e30fbd5"
            ]
        ]
    },
    {
        "id": "ef4dc1023e30fbd5",
        "type": "gofa-move",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "HOME",
        "robot": "cfg1",
        "command": "HOME",
        "x": 430,
        "y": 402,
        "wires": [
            [
                "62086bca420c7177"
            ]
        ]
    },
    {
        "id": "62086bca420c7177",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "{ ok, ack:'OK:HOME' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 665,
        "y": 402,
        "wires": []
    },
    {
        "id": "98e77329e4cebe1d",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "Set Home (here)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 195,
        "y": 457,
        "wires": [
            [
                "9fa0426fd871fb56"
            ]
        ]
    },
    {
        "id": "9fa0426fd871fb56",
        "type": "gofa-move",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "SETHOME",
        "robot": "cfg1",
        "command": "SETHOME",
        "x": 430,
        "y": 457,
        "wires": [
            [
                "9fe967eb4ebd0fe4"
            ]
        ]
    },
    {
        "id": "9fe967eb4ebd0fe4",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "b55ea3d6c2e06b93",
        "name": "{ ok, ack:'OK:SETHOME' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 665,
        "y": 457,
        "wires": []
    },
    {
        "id": "d4e263089ef26cd5",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "Controls motor power via RWS  |  Override: msg.payload.action = 'motoron' | 'motoroff'",
        "info": "",
        "x": 330,
        "y": 560,
        "wires": []
    },
    {
        "id": "695e2fc98e1cf353",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "Motors ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 165,
        "y": 615,
        "wires": [
            [
                "94c76e423494b175"
            ]
        ]
    },
    {
        "id": "94c76e423494b175",
        "type": "gofa-motor",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "Motors ON",
        "robot": "cfg1",
        "action": "motoron",
        "x": 400,
        "y": 615,
        "wires": [
            [
                "4450e546dbb53822"
            ]
        ]
    },
    {
        "id": "4450e546dbb53822",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "{ ok:true, action:'motoron' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 635,
        "y": 615,
        "wires": []
    },
    {
        "id": "824a72bbd8b23d74",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "Motors OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 165,
        "y": 670,
        "wires": [
            [
                "a9de9f680c8959fa"
            ]
        ]
    },
    {
        "id": "a9de9f680c8959fa",
        "type": "gofa-motor",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "Motors OFF",
        "robot": "cfg1",
        "action": "motoroff",
        "x": 400,
        "y": 670,
        "wires": [
            [
                "a4906a494e3d755b"
            ]
        ]
    },
    {
        "id": "a4906a494e3d755b",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "b22d9e61ec3ef436",
        "name": "{ ok:true, action:'motoroff' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 635,
        "y": 670,
        "wires": []
    },
    {
        "id": "fb777ca185f1491e",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Moves TCP relative to current pose  |  X/Y/Z = base frame mm (max 50)  |  RX/RY/RZ = tool frame deg (max 30)",
        "info": "",
        "x": 410,
        "y": 780,
        "wires": []
    },
    {
        "id": "47d460e2889dcbed",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog X +20 mm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 835,
        "wires": [
            [
                "2aa0c4bc221998be"
            ]
        ]
    },
    {
        "id": "2aa0c4bc221998be",
        "type": "gofa-jog",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog X +20 mm",
        "robot": "cfg1",
        "axis": "X",
        "dir": "+",
        "step": 20,
        "x": 480,
        "y": 835,
        "wires": [
            [
                "483877edddba7e7a"
            ]
        ]
    },
    {
        "id": "483877edddba7e7a",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 715,
        "y": 835,
        "wires": []
    },
    {
        "id": "f4a5ee4c5b0506eb",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog Y +20 mm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 890,
        "wires": [
            [
                "822b3ccfdbaed159"
            ]
        ]
    },
    {
        "id": "822b3ccfdbaed159",
        "type": "gofa-jog",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog Y +20 mm",
        "robot": "cfg1",
        "axis": "Y",
        "dir": "+",
        "step": 20,
        "x": 480,
        "y": 890,
        "wires": [
            [
                "80b64825031bc030"
            ]
        ]
    },
    {
        "id": "80b64825031bc030",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 715,
        "y": 890,
        "wires": []
    },
    {
        "id": "3b144dde667fb24a",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog Z +20 mm",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 945,
        "wires": [
            [
                "fe6b8d898444e9e6"
            ]
        ]
    },
    {
        "id": "fe6b8d898444e9e6",
        "type": "gofa-jog",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog Z +20 mm",
        "robot": "cfg1",
        "axis": "Z",
        "dir": "+",
        "step": 20,
        "x": 480,
        "y": 945,
        "wires": [
            [
                "84ded9d71d7bd1db"
            ]
        ]
    },
    {
        "id": "84ded9d71d7bd1db",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 715,
        "y": 945,
        "wires": []
    },
    {
        "id": "29a042df4798ea9b",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog RZ +5 deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 245,
        "y": 1000,
        "wires": [
            [
                "db2e16a626bd1c43"
            ]
        ]
    },
    {
        "id": "db2e16a626bd1c43",
        "type": "gofa-jog",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "Jog RZ +5 deg",
        "robot": "cfg1",
        "axis": "RZ",
        "dir": "+",
        "step": 5,
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "c2e784c3019e4cfc"
            ]
        ]
    },
    {
        "id": "c2e784c3019e4cfc",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "621d3a84b4813c70",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 715,
        "y": 1000,
        "wires": []
    },
    {
        "id": "802d892946f03412",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "Rotates one joint by a relative angle (max 30 deg)  |  Override: msg.payload.{joint,dir,step}",
        "info": "",
        "x": 340,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8d152d7db3e182c3",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "Joint J1 +5 deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 175,
        "y": 1155,
        "wires": [
            [
                "48fa155af9dddeef"
            ]
        ]
    },
    {
        "id": "48fa155af9dddeef",
        "type": "gofa-joint-jog",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "Joint J1 +5 deg",
        "robot": "cfg1",
        "joint": "J1",
        "dir": "+",
        "step": 5,
        "x": 410,
        "y": 1155,
        "wires": [
            [
                "cff347e38ce631a7"
            ]
        ]
    },
    {
        "id": "cff347e38ce631a7",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 645,
        "y": 1155,
        "wires": []
    },
    {
        "id": "2103f7a0a003f1de",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "Joint J2 +5 deg",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 175,
        "y": 1210,
        "wires": [
            [
                "efa1b9a68a0f9225"
            ]
        ]
    },
    {
        "id": "efa1b9a68a0f9225",
        "type": "gofa-joint-jog",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "Joint J2 +5 deg",
        "robot": "cfg1",
        "joint": "J2",
        "dir": "+",
        "step": 5,
        "x": 410,
        "y": 1210,
        "wires": [
            [
                "6958ee151f683f81"
            ]
        ]
    },
    {
        "id": "6958ee151f683f81",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "9450844589f3cc3b",
        "name": "{ ok, ack, token }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 645,
        "y": 1210,
        "wires": []
    },
    {
        "id": "f86919c88aa4e591",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "Run in order: 1-Save  2-List  3-Go To  4-Delete  |  Point name in node properties or msg.payload.name / msg.payload.id",
        "info": "",
        "x": 430,
        "y": 1320,
        "wires": []
    },
    {
        "id": "a47aa1d9270e4d63",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "1. Save Current Pose",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 265,
        "y": 1375,
        "wires": [
            [
                "8a15af31da8fa29d"
            ]
        ]
    },
    {
        "id": "8a15af31da8fa29d",
        "type": "gofa-save-point",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "1. Save Current Pose",
        "robot": "cfg1",
        "pointName": "",
        "x": 500,
        "y": 1375,
        "wires": [
            [
                "d1d873fca48b8179"
            ]
        ]
    },
    {
        "id": "d1d873fca48b8179",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "{ ok, point:{id,name,target}, points:[] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 735,
        "y": 1375,
        "wires": []
    },
    {
        "id": "6478e7781d7622dc",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "2. List All Points",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 265,
        "y": 1430,
        "wires": [
            [
                "62ce2c83f922715d"
            ]
        ]
    },
    {
        "id": "62ce2c83f922715d",
        "type": "gofa-point-list",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "2. List All Points",
        "robot": "cfg1",
        "x": 500,
        "y": 1430,
        "wires": [
            [
                "666a09f4a86b1e86"
            ]
        ]
    },
    {
        "id": "666a09f4a86b1e86",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "[ {id, name, target}, ... ]",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 735,
        "y": 1430,
        "wires": []
    },
    {
        "id": "fb9f7eea7696e42c",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "3. Go to Point",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 265,
        "y": 1485,
        "wires": [
            [
                "a4492942585fb9f6"
            ]
        ]
    },
    {
        "id": "a4492942585fb9f6",
        "type": "gofa-go-point",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "3. Go to Point",
        "robot": "cfg1",
        "pointName": "Point 1",
        "x": 500,
        "y": 1485,
        "wires": [
            [
                "0bc2884c0e3c54c0"
            ]
        ]
    },
    {
        "id": "0bc2884c0e3c54c0",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "{ ok, ack, point }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 735,
        "y": 1485,
        "wires": []
    },
    {
        "id": "fb211e6b1b90f2e8",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "4. Delete Point",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 265,
        "y": 1540,
        "wires": [
            [
                "57db523c8431d101"
            ]
        ]
    },
    {
        "id": "57db523c8431d101",
        "type": "gofa-delete-point",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "4. Delete Point",
        "robot": "cfg1",
        "pointName": "Demo Point",
        "x": 500,
        "y": 1540,
        "wires": [
            [
                "b70f96b2c70f009e"
            ]
        ]
    },
    {
        "id": "b70f96b2c70f009e",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "aebc7d8025a15a6c",
        "name": "{ ok, deleted, points:[] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 735,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7baa4181f6a6215f",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "Run Sequence: visits each saved point in order  |  Output 1 = after each step  |  Output 2 = done/stopped  |  Stop: halts after current step",
        "info": "",
        "x": 480,
        "y": 1640,
        "wires": []
    },
    {
        "id": "8753b79a708764d7",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "Run Sequence",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 315,
        "y": 1695,
        "wires": [
            [
                "c5bc1905303759a5"
            ]
        ]
    },
    {
        "id": "c5bc1905303759a5",
        "type": "gofa-sequencer",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "Demo Sequence",
        "robot": "cfg1",
        "steps": [
            {
                "name": "Point 1"
            },
            {
                "name": "Point 2"
            }
        ],
        "dwell": 1000,
        "loop": false,
        "pingpong": false,
        "x": 550,
        "y": 1695,
        "wires": [
            [
                "4c8e442b34976b41"
            ],
            [
                "83e30323fd0929e3"
            ]
        ]
    },
    {
        "id": "4c8e442b34976b41",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "{ step, total, name, ack }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 785,
        "y": 1695,
        "wires": []
    },
    {
        "id": "83e30323fd0929e3",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "{ done:true } or { stopped:true }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 785,
        "y": 1750,
        "wires": []
    },
    {
        "id": "5c9a981ced248162",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "Stop Sequence",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 315,
        "y": 1805,
        "wires": [
            [
                "014e6b5e2295b80f"
            ]
        ]
    },
    {
        "id": "014e6b5e2295b80f",
        "type": "gofa-stop-seq",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "",
        "robot": "cfg1",
        "x": 550,
        "y": 1805,
        "wires": [
            [
                "68b5a31875bdb44f"
            ]
        ]
    },
    {
        "id": "68b5a31875bdb44f",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "939e565b9375950b",
        "name": "{ ok:true, message:'stop requested' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 785,
        "y": 1805,
        "wires": []
    },
    {
        "id": "fc5d62083705fe0c",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "PING: connectivity test  |  MOVEJ: absolute joint target  |  GRIPON/OFF: gripper  |  ZONE: blend radius  |  STOP: halt motion",
        "info": "",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fbacc1edd27287b",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "Ping",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 135,
        "wires": [
            [
                "c3f2154a32b9f203"
            ]
        ]
    },
    {
        "id": "c3f2154a32b9f203",
        "type": "gofa-ping",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "",
        "robot": "cfg1",
        "x": 1350,
        "y": 135,
        "wires": [
            [
                "ce89704b8f36322a"
            ]
        ]
    },
    {
        "id": "ce89704b8f36322a",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, ack:'OK:PING', rtt }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 135,
        "wires": []
    },
    {
        "id": "c9ceadcaf831bc26",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "MoveJ [0,0,85,0,0,0]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 190,
        "wires": [
            [
                "2f2808433ca4fa37"
            ]
        ]
    },
    {
        "id": "2f2808433ca4fa37",
        "type": "gofa-movej",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "",
        "robot": "cfg1",
        "joints": "[0,0,85,0,0,0]",
        "x": 1350,
        "y": 190,
        "wires": [
            [
                "40f3e7f64151b74c"
            ]
        ]
    },
    {
        "id": "40f3e7f64151b74c",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, joints:[0,0,85,0,0,0] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 190,
        "wires": []
    },
    {
        "id": "1580ac8dbca96a2b",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "Grip ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 245,
        "wires": [
            [
                "2788087a1f5247fb"
            ]
        ]
    },
    {
        "id": "2788087a1f5247fb",
        "type": "gofa-grip",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "GRIPON",
        "robot": "cfg1",
        "action": "on",
        "signal": "DO10_1",
        "x": 1350,
        "y": 245,
        "wires": [
            [
                "ae3a9af1fbdd8338"
            ]
        ]
    },
    {
        "id": "ae3a9af1fbdd8338",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, action:'on', signal }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 245,
        "wires": []
    },
    {
        "id": "0d8e18cf39a70ad2",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "Grip OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 300,
        "wires": [
            [
                "2807be23166d17fe"
            ]
        ]
    },
    {
        "id": "2807be23166d17fe",
        "type": "gofa-grip",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "GRIPOFF",
        "robot": "cfg1",
        "action": "off",
        "signal": "DO10_1",
        "x": 1350,
        "y": 300,
        "wires": [
            [
                "7003965712d79fe1"
            ]
        ]
    },
    {
        "id": "7003965712d79fe1",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, action:'off', signal }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 300,
        "wires": []
    },
    {
        "id": "58c1258ac9220503",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "Zone z10",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 355,
        "wires": [
            [
                "97f6b684d80e2596"
            ]
        ]
    },
    {
        "id": "97f6b684d80e2596",
        "type": "gofa-zone-set",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "",
        "robot": "cfg1",
        "zone": "fine",
        "x": 1350,
        "y": 355,
        "wires": [
            [
                "b86f572f8194b8dd"
            ]
        ]
    },
    {
        "id": "b86f572f8194b8dd",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, zone:'z10' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 355,
        "wires": []
    },
    {
        "id": "c1bfeab9dace5ec1",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "Stop Motion",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1115,
        "y": 410,
        "wires": [
            [
                "5fe1b12a6a8bc182"
            ]
        ]
    },
    {
        "id": "5fe1b12a6a8bc182",
        "type": "gofa-stop-motion",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "",
        "robot": "cfg1",
        "x": 1350,
        "y": 410,
        "wires": [
            [
                "1675f30f22b895f8"
            ]
        ]
    },
    {
        "id": "1675f30f22b895f8",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ce386d0a14edb1c3",
        "name": "{ ok, ack:'OK:STOP' }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1585,
        "y": 410,
        "wires": []
    },
    {
        "id": "46a79067828c8e24",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "Set Speed 75%",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "91c0b8dedc6ee07d"
            ]
        ]
    },
    {
        "id": "91c0b8dedc6ee07d",
        "type": "gofa-speed-set",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "",
        "robot": "cfg1",
        "speed": "100",
        "x": 1275,
        "y": 520,
        "wires": [
            [
                "08b9ef17da3783ee"
            ]
        ]
    },
    {
        "id": "08b9ef17da3783ee",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "{ ok, speed:75 }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1510,
        "y": 520,
        "wires": []
    },
    {
        "id": "0ef0eaf62bea7655",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "7787591525e2cc38"
            ]
        ]
    },
    {
        "id": "7787591525e2cc38",
        "type": "gofa-rapid-var-read",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "",
        "robot": "cfg1",
        "task": "T_ROB1",
        "module": "MainModule",
        "variable": "nTestVar",
        "x": 1275,
        "y": 575,
        "wires": [
            [
                "643f27df43e440d3"
            ]
        ]
    },
    {
        "id": "643f27df43e440d3",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "{ ok, variable, value, source }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1510,
        "y": 575,
        "wires": []
    },
    {
        "id": "bbb2cf7f31e5fdee",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "Write",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1110,
        "y": 680,
        "wires": [
            [
                "4d350807ef5d575e"
            ]
        ]
    },
    {
        "id": "4d350807ef5d575e",
        "type": "gofa-rapid-var-write",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "",
        "robot": "cfg1",
        "variable": "nTestVar",
        "value": "9",
        "x": 1260,
        "y": 685,
        "wires": [
            [
                "3f7b086feeb3dfa8"
            ]
        ]
    },
    {
        "id": "3f7b086feeb3dfa8",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "{ ok, variable, value } or { ok:false }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1495,
        "y": 685,
        "wires": []
    },
    {
        "id": "77ab97f9a9554f86",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "SYSTEM-INFO: RW version + ctrl identity  |  ELOG: controller event log  |  FILE-READ: download file  |  UPLOAD-MOD: deploy RAPID .mod",
        "info": "",
        "x": 1350,
        "y": 860,
        "wires": []
    },
    {
        "id": "0262d4fb93b74869",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "System Info",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1185,
        "y": 915,
        "wires": [
            [
                "38ed547b1df8aed8"
            ]
        ]
    },
    {
        "id": "38ed547b1df8aed8",
        "type": "gofa-system-info",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "",
        "robot": "cfg1",
        "x": 1420,
        "y": 915,
        "wires": [
            [
                "c59850f4b05c204d"
            ]
        ]
    },
    {
        "id": "c59850f4b05c204d",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "{ ok, rwVersion, ctrlId, ctrlType, ctrlMac }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1655,
        "y": 915,
        "wires": []
    },
    {
        "id": "85928c42bdb21748",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "Read Elog",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1185,
        "y": 970,
        "wires": [
            [
                "553adc05ad2aad92"
            ]
        ]
    },
    {
        "id": "553adc05ad2aad92",
        "type": "gofa-elog",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "",
        "robot": "cfg1",
        "domain": "1",
        "count": 10,
        "x": 1420,
        "y": 970,
        "wires": [
            [
                "97d446f92fd87684"
            ]
        ]
    },
    {
        "id": "97d446f92fd87684",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "{ ok, domain, entries:[{code,title,tstamp}] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1655,
        "y": 970,
        "wires": []
    },
    {
        "id": "d6d66dfd29409aaa",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "Read MainModule.mod",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1185,
        "y": 1025,
        "wires": [
            [
                "40cc295bbcea070a"
            ]
        ]
    },
    {
        "id": "40cc295bbcea070a",
        "type": "gofa-file-read",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "",
        "robot": "cfg1",
        "remotePath": "$HOME/Programs/MainModule.mod",
        "encoding": "utf8",
        "x": 1420,
        "y": 1025,
        "wires": [
            [
                "9c50e7342ca7418e"
            ]
        ]
    },
    {
        "id": "9c50e7342ca7418e",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "{ ok, remotePath, content, bytes }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1655,
        "y": 1025,
        "wires": []
    },
    {
        "id": "3f881d352fec8b4b",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "Upload MainModule.mod (update path!)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1185,
        "y": 1080,
        "wires": [
            [
                "982b7ddef2c9f46b"
            ]
        ]
    },
    {
        "id": "982b7ddef2c9f46b",
        "type": "gofa-upload-mod",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "",
        "robot": "cfg1",
        "localPath": "C:\\Users\\anapa\\nnnn\\ABB-GoFa-12\\rapid\\MainModule.mod",
        "remotePath": "$HOME/Programs/MainModuleTest.mod",
        "x": 1420,
        "y": 1080,
        "wires": [
            [
                "dd9102dcea4ccef6"
            ]
        ]
    },
    {
        "id": "dd9102dcea4ccef6",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95115084ad496f64",
        "name": "{ ok, remotePath, bytes }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1655,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d54d46e4f4d75da7",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "IO-LIST: enumerate all signals  |  DI-READ: digital in (built-in)  |  AI-READ / AO-WRITE / DO-WRITE: require external I/O module — HTTP 404 on standard OmniCore C30",
        "info": "",
        "x": 1550,
        "y": 1180,
        "wires": []
    },
    {
        "id": "aa93ee39491afdea",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "List All Signals",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1385,
        "y": 1235,
        "wires": [
            [
                "c234d84f31e43d23"
            ]
        ]
    },
    {
        "id": "c234d84f31e43d23",
        "type": "gofa-io-list",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "",
        "robot": "cfg1",
        "x": 1620,
        "y": 1235,
        "wires": [
            [
                "f5b2d6c1f808c498"
            ]
        ]
    },
    {
        "id": "f5b2d6c1f808c498",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "{ ok, count, signals:[{name,type,lvalue}] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1235,
        "wires": []
    },
    {
        "id": "942c877661144f0f",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "Read Asi1Button1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1385,
        "y": 1290,
        "wires": [
            [
                "2aabfe45542c96bb"
            ]
        ]
    },
    {
        "id": "2aabfe45542c96bb",
        "type": "gofa-di-read",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "",
        "robot": "cfg1",
        "signal": "Asi1Button1",
        "x": 1620,
        "y": 1290,
        "wires": [
            [
                "09c76d4d5f00b97a"
            ]
        ]
    },
    {
        "id": "09c76d4d5f00b97a",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "{ ok, signal, value:0|1 }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1290,
        "wires": []
    },
    {
        "id": "60ac642aa637e94f",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "Read AI1 (analog in)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1385,
        "y": 1345,
        "wires": [
            [
                "f8696607a486e515"
            ]
        ]
    },
    {
        "id": "f8696607a486e515",
        "type": "gofa-ai-read",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "",
        "robot": "cfg1",
        "signal": "AI1",
        "x": 1620,
        "y": 1345,
        "wires": [
            [
                "18ebf7c1f87e6160"
            ]
        ]
    },
    {
        "id": "18ebf7c1f87e6160",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "{ ok, signal, value } or { ok:false }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1345,
        "wires": []
    },
    {
        "id": "aceaef2c35f1c2d8",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "DO10_1 = 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 1385,
        "y": 1400,
        "wires": [
            [
                "634aa64a8eae9692"
            ]
        ]
    },
    {
        "id": "634aa64a8eae9692",
        "type": "gofa-do-write",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "",
        "robot": "cfg1",
        "signal": "DO10_1",
        "value": "1",
        "x": 1620,
        "y": 1400,
        "wires": [
            [
                "7baaa610f520276c"
            ]
        ]
    },
    {
        "id": "7baaa610f520276c",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "{ ok, signal, value } or { ok:false }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a24ee262888cd83a",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "AO1 = 2.5",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"signal\":\"AO1\",\"value\":2.5}",
        "payloadType": "json",
        "x": 1385,
        "y": 1455,
        "wires": [
            [
                "a9481d95d12b362a"
            ]
        ]
    },
    {
        "id": "a9481d95d12b362a",
        "type": "gofa-ao-write",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "",
        "robot": "cfg1",
        "signal": "AO1",
        "value": "0",
        "x": 1620,
        "y": 1455,
        "wires": [
            [
                "9d5827a2cb7f777e"
            ]
        ]
    },
    {
        "id": "9d5827a2cb7f777e",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "{ ok, signal, value } or { ok:false }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1455,
        "wires": []
    },
    {
        "id": "46790a352faaca0c",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "Enable/disable robot lead-through (hand-guiding) via RWS  |  Requires manual mode + enable switch held on FlexPendant",
        "info": "",
        "x": 1430,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7bf5942f54eda996",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "Enable Lead-through",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1265,
        "y": 1615,
        "wires": [
            [
                "6e594510d6242c79"
            ]
        ]
    },
    {
        "id": "6e594510d6242c79",
        "type": "gofa-leadthrough-enable",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "",
        "robot": "cfg1",
        "x": 1500,
        "y": 1615,
        "wires": [
            [
                "c5910929b5f41396"
            ]
        ]
    },
    {
        "id": "c5910929b5f41396",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "{ ok:true }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1735,
        "y": 1615,
        "wires": []
    },
    {
        "id": "c1b0bb0ca1378da1",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "Disable Lead-through",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1265,
        "y": 1670,
        "wires": [
            [
                "c19f2b32477ee11f"
            ]
        ]
    },
    {
        "id": "c19f2b32477ee11f",
        "type": "gofa-leadthrough-disable",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "",
        "robot": "cfg1",
        "x": 1500,
        "y": 1670,
        "wires": [
            [
                "cacf48f16615005c"
            ]
        ]
    },
    {
        "id": "cacf48f16615005c",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "ca25a46575f6e6b8",
        "name": "{ ok:true }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1735,
        "y": 1670,
        "wires": []
    },
    {
        "id": "73f00499315b6f19",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "EXPORT: dump saved-points list to msg.payload  |  IMPORT: replace list from msg.payload array (connect Export output to Import input for backup/restore)",
        "info": "",
        "x": 1550,
        "y": 1780,
        "wires": []
    },
    {
        "id": "0c67d3e1391a22ae",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "Export Points",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1385,
        "y": 1835,
        "wires": [
            [
                "4f78b1dfaa0d78a3"
            ]
        ]
    },
    {
        "id": "4f78b1dfaa0d78a3",
        "type": "gofa-points-export",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "",
        "robot": "cfg1",
        "savePath": "NoPoint",
        "x": 1620,
        "y": 1835,
        "wires": [
            [
                "3c7034fdf3edb252"
            ]
        ]
    },
    {
        "id": "3c7034fdf3edb252",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "{ ok, count, points:[...] }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1835,
        "wires": []
    },
    {
        "id": "d24cec3aada47429",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "Import [] (clear all)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1385,
        "y": 1890,
        "wires": [
            [
                "d743bf3886792049"
            ]
        ]
    },
    {
        "id": "d743bf3886792049",
        "type": "gofa-points-import",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "",
        "robot": "cfg1",
        "loadPath": "2Point",
        "x": 1620,
        "y": 1890,
        "wires": [
            [
                "c7fe26fb1f5892a1"
            ]
        ]
    },
    {
        "id": "c7fe26fb1f5892a1",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "fca205bc4645be7d",
        "name": "{ ok, count }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1855,
        "y": 1890,
        "wires": []
    },
    {
        "id": "a64b069f2c96c13d",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "STATE/IO: WebSocket push from controller  |  VAR/POSE: polling (toggle on/off with any input)  |  Messages stream to debug until toggled off or redeployed",
        "info": "",
        "x": 1520,
        "y": 2000,
        "wires": []
    },
    {
        "id": "6c5ca306c6f10492",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "Subscribe ctrl-state",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1355,
        "y": 2055,
        "wires": [
            [
                "ae567fc23e20c35b"
            ]
        ]
    },
    {
        "id": "ae567fc23e20c35b",
        "type": "gofa-subscribe-state",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "",
        "robot": "cfg1",
        "oneshot": true,
        "x": 1590,
        "y": 2055,
        "wires": [
            [
                "e875da96515d4973"
            ]
        ]
    },
    {
        "id": "e875da96515d4973",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "{ ok, state:'motoron'|'motoroff'|... }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1840,
        "y": 2060,
        "wires": []
    },
    {
        "id": "52a8970840bed03c",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "Subscribe Asi1Button1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1355,
        "y": 2110,
        "wires": [
            [
                "13031f8511711815"
            ]
        ]
    },
    {
        "id": "13031f8511711815",
        "type": "gofa-subscribe-io",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "",
        "robot": "cfg1",
        "signal": "Asi1Button1",
        "oneshot": true,
        "x": 1590,
        "y": 2110,
        "wires": [
            [
                "c2539b438777b9ad"
            ]
        ]
    },
    {
        "id": "c2539b438777b9ad",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "{ ok, signal, value:0|1 }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1825,
        "y": 2110,
        "wires": []
    },
    {
        "id": "dedc2b3c0203a0b8",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "Toggle poll zActive",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1355,
        "y": 2165,
        "wires": [
            [
                "2b7b22a7f2634d6b"
            ]
        ]
    },
    {
        "id": "2b7b22a7f2634d6b",
        "type": "gofa-subscribe-var",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "",
        "robot": "cfg1",
        "task": "T_ROB1",
        "module": "MainModule",
        "variable": "zActive",
        "interval": "1000",
        "x": 1590,
        "y": 2165,
        "wires": [
            [
                "704df29d067223b7"
            ]
        ]
    },
    {
        "id": "704df29d067223b7",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "{ ok, variable, value, source }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1825,
        "y": 2165,
        "wires": []
    },
    {
        "id": "60c8a197bd07a117",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "Toggle poll pose",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1355,
        "y": 2220,
        "wires": [
            [
                "8939a35e84cbc5bd"
            ]
        ]
    },
    {
        "id": "8939a35e84cbc5bd",
        "type": "gofa-subscribe-pose",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "",
        "robot": "cfg1",
        "interval": "500",
        "x": 1590,
        "y": 2220,
        "wires": [
            [
                "569ad33614eae2e3"
            ]
        ]
    },
    {
        "id": "569ad33614eae2e3",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "eb77a9bd9c4a0f0f",
        "name": "{ ok, x, y, z, q1, q2, q3, q4 }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1825,
        "y": 2220,
        "wires": []
    },
    {
        "id": "9e81c9ae510419c2",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "78704319019a587d",
        "name": "⚠ AI Read / AO Write / DO Write require an external I/O expansion module — will fail with HTTP 404 on the base OmniCore C30 (CRB 15000 default)",
        "info": "",
        "x": 1600,
        "y": 1310,
        "wires": []
    },
    {
        "id": "4aeca92f79544cf1",
        "type": "comment",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "RAPID-EXEC: start / stop / resetpp the RAPID program  |  Requires Remote Start/Stop UAS grant (RobotStudio → Edit User Accounts) + Auto mode + Motors on  |  resetpp acquires edit mastership automatically",
        "info": "",
        "x": 1400,
        "y": 2325,
        "wires": []
    },
    {
        "id": "2c33863a6308e309",
        "type": "gofa-rapid-exec",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "",
        "robot": "cfg1",
        "action": "resetpp",
        "x": 1390,
        "y": 2420,
        "wires": [
            [
                "7b8d9314e8f1f1d2"
            ]
        ]
    },
    {
        "id": "7b8d9314e8f1f1d2",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "{ ok, action } or { ok:false, error }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1630,
        "y": 2420,
        "wires": []
    },
    {
        "id": "809536b31c66cc90",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "Reset Program",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1200,
        "y": 2420,
        "wires": [
            [
                "2c33863a6308e309"
            ]
        ]
    },
    {
        "id": "0a9c5608e3b2ac79",
        "type": "gofa-rapid-exec",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "",
        "robot": "cfg1",
        "action": "start",
        "x": 1350,
        "y": 2480,
        "wires": [
            [
                "213922eb67e496b7"
            ]
        ]
    },
    {
        "id": "213922eb67e496b7",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "{ ok, action } or { ok:false, error }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1630,
        "y": 2480,
        "wires": []
    },
    {
        "id": "e6dd55a40839e852",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "Start RAPID",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1190,
        "y": 2480,
        "wires": [
            [
                "0a9c5608e3b2ac79"
            ]
        ]
    },
    {
        "id": "9ea1ae20458cbf3f",
        "type": "gofa-rapid-exec",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "",
        "robot": "cfg1",
        "action": "stop",
        "x": 1350,
        "y": 2540,
        "wires": [
            [
                "9909447faf50b98f"
            ]
        ]
    },
    {
        "id": "9909447faf50b98f",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "{ ok, action } or { ok:false, error }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 2540,
        "wires": []
    },
    {
        "id": "4185396556f153d8",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "558444dd40c0ccd4",
        "name": "Stop RAPID",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1190,
        "y": 2540,
        "wires": [
            [
                "9ea1ae20458cbf3f"
            ]
        ]
    },
    {
        "id": "d36bcbfb3b85e8ea",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "d8b18774c89eeca9"
            ]
        ]
    },
    {
        "id": "d8b18774c89eeca9",
        "type": "gofa-rapid-var-read",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "",
        "robot": "cfg1",
        "task": "T_ROB1",
        "module": "MainModule",
        "variable": "sTestMsg",
        "x": 1270,
        "y": 625,
        "wires": [
            [
                "792f357a51abc7cf"
            ]
        ]
    },
    {
        "id": "792f357a51abc7cf",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "{ ok, variable, value, source }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1505,
        "y": 625,
        "wires": []
    },
    {
        "id": "e2ac0ab0e596fab9",
        "type": "debug",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "{ ok, variable, value } or { ok:false }",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1515,
        "y": 745,
        "wires": []
    },
    {
        "id": "cf962b6f180fe957",
        "type": "inject",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "Write",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1110,
        "y": 740,
        "wires": [
            [
                "354b13c7e1b27a40"
            ]
        ]
    },
    {
        "id": "354b13c7e1b27a40",
        "type": "gofa-rapid-var-write",
        "z": "08f5b46ae379bad0",
        "g": "95885e1dae1670e1",
        "name": "",
        "robot": "cfg1",
        "variable": "sTestMsg",
        "value": "jwdwdd",
        "x": 1255,
        "y": 745,
        "wires": [
            [
                "e2ac0ab0e596fab9"
            ]
        ]
    },
    {
        "id": "cfg1",
        "type": "gofa-robot",
        "name": "ABB-GoFa-12",
        "ip": "192.168.20.12",
        "rwsPort": "443",
        "socketPort": "1025",
        "username": "NNNN",
        "pointsFile": "points.json"
    },
    {
        "id": "53770385c987b90f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-abb-gofa": "1.0.1"
        }
    }
]