flows/gofa_payload_test_flow.json
[
    {
        "id": "pt01",
        "type": "tab",
        "label": "Payload Test — 6 Nodes",
        "disabled": false,
        "info": "Tests the 6 nodes updated in the msg.payload audit.\ngofa-motor · gofa-move · gofa-rapid-exec\ngofa-points-export · gofa-points-import · gofa-subscribe-pose\n\nEach group tests: bare string, object {property}, and no payload (falls back to node setting).\n\nNOTE: Motor/Move/RAPID-exec nodes send real commands to the robot."
    },

    {
        "id": "ptg1",
        "type": "group",
        "z": "pt01",
        "name": "1 — gofa-motor  (bare string / object / default)",
        "style": {
            "stroke": "#ff6600", "stroke-opacity": "1",
            "fill": "#fff0e8", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#ff6600"
        },
        "nodes": ["ptI11","ptI12","ptI13","ptI14","ptN1","ptD1"],
        "x": 14, "y": 60, "w": 810, "h": 202
    },
    {
        "id": "ptI11", "type": "inject", "z": "pt01", "g": "ptg1",
        "name": "string 'motoron'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "motoron", "payloadType": "str",
        "x": 150, "y": 100, "wires": [["ptN1"]]
    },
    {
        "id": "ptI12", "type": "inject", "z": "pt01", "g": "ptg1",
        "name": "string 'motoroff'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "motoroff", "payloadType": "str",
        "x": 150, "y": 140, "wires": [["ptN1"]]
    },
    {
        "id": "ptI13", "type": "inject", "z": "pt01", "g": "ptg1",
        "name": "{action:'motoron'}",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "{\"action\":\"motoron\"}", "payloadType": "json",
        "x": 150, "y": 180, "wires": [["ptN1"]]
    },
    {
        "id": "ptI14", "type": "inject", "z": "pt01", "g": "ptg1",
        "name": "no payload → default (motoron)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 200, "y": 220, "wires": [["ptN1"]]
    },
    {
        "id": "ptN1", "type": "gofa-motor", "z": "pt01", "g": "ptg1",
        "name": "Motor (default: ON)", "robot": "cfg1", "action": "motoron",
        "x": 420, "y": 160, "wires": [["ptD1"]]
    },
    {
        "id": "ptD1", "type": "debug", "z": "pt01", "g": "ptg1",
        "name": "motor result", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 620, "y": 160, "wires": []
    },

    {
        "id": "ptg2",
        "type": "group",
        "z": "pt01",
        "name": "2 — gofa-move  (bare string / object / default)",
        "style": {
            "stroke": "#00aa44", "stroke-opacity": "1",
            "fill": "#e8f5ec", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#00aa44"
        },
        "nodes": ["ptI21","ptI22","ptI23","ptI24","ptN2","ptD2"],
        "x": 14, "y": 282, "w": 810, "h": 202
    },
    {
        "id": "ptI21", "type": "inject", "z": "pt01", "g": "ptg2",
        "name": "string 'HOME'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "HOME", "payloadType": "str",
        "x": 130, "y": 322, "wires": [["ptN2"]]
    },
    {
        "id": "ptI22", "type": "inject", "z": "pt01", "g": "ptg2",
        "name": "string 'SETHOME' ⚠ saves current pose",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "SETHOME", "payloadType": "str",
        "x": 200, "y": 362, "wires": [["ptN2"]]
    },
    {
        "id": "ptI23", "type": "inject", "z": "pt01", "g": "ptg2",
        "name": "{command:'HOME'}",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "{\"command\":\"HOME\"}", "payloadType": "json",
        "x": 150, "y": 402, "wires": [["ptN2"]]
    },
    {
        "id": "ptI24", "type": "inject", "z": "pt01", "g": "ptg2",
        "name": "no payload → default (HOME)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 190, "y": 442, "wires": [["ptN2"]]
    },
    {
        "id": "ptN2", "type": "gofa-move", "z": "pt01", "g": "ptg2",
        "name": "Move (default: HOME)", "robot": "cfg1", "command": "HOME",
        "x": 420, "y": 382, "wires": [["ptD2"]]
    },
    {
        "id": "ptD2", "type": "debug", "z": "pt01", "g": "ptg2",
        "name": "move result", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 610, "y": 382, "wires": []
    },

    {
        "id": "ptg3",
        "type": "group",
        "z": "pt01",
        "name": "3 — gofa-rapid-exec  (bare string / object / default)  ⚠ needs AUTO + motors ON",
        "style": {
            "stroke": "#0099cc", "stroke-opacity": "1",
            "fill": "#e8f4f8", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#0099cc"
        },
        "nodes": ["ptI31","ptI32","ptI33","ptI34","ptI35","ptN3","ptD3"],
        "x": 14, "y": 504, "w": 810, "h": 242
    },
    {
        "id": "ptI31", "type": "inject", "z": "pt01", "g": "ptg3",
        "name": "string 'stop'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "stop", "payloadType": "str",
        "x": 120, "y": 544, "wires": [["ptN3"]]
    },
    {
        "id": "ptI32", "type": "inject", "z": "pt01", "g": "ptg3",
        "name": "string 'start'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "start", "payloadType": "str",
        "x": 120, "y": 584, "wires": [["ptN3"]]
    },
    {
        "id": "ptI33", "type": "inject", "z": "pt01", "g": "ptg3",
        "name": "string 'resetpp'",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "resetpp", "payloadType": "str",
        "x": 130, "y": 624, "wires": [["ptN3"]]
    },
    {
        "id": "ptI34", "type": "inject", "z": "pt01", "g": "ptg3",
        "name": "{action:'stop'}",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "{\"action\":\"stop\"}", "payloadType": "json",
        "x": 130, "y": 664, "wires": [["ptN3"]]
    },
    {
        "id": "ptI35", "type": "inject", "z": "pt01", "g": "ptg3",
        "name": "no payload → default (stop)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 185, "y": 704, "wires": [["ptN3"]]
    },
    {
        "id": "ptN3", "type": "gofa-rapid-exec", "z": "pt01", "g": "ptg3",
        "name": "RAPID Exec (default: stop)", "robot": "cfg1", "action": "stop",
        "x": 430, "y": 624, "wires": [["ptD3"]]
    },
    {
        "id": "ptD3", "type": "debug", "z": "pt01", "g": "ptg3",
        "name": "rapid-exec result", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 640, "y": 624, "wires": []
    },

    {
        "id": "ptg4",
        "type": "group",
        "z": "pt01",
        "name": "4 — gofa-points-export  (string path / object / no file)",
        "style": {
            "stroke": "#6600cc", "stroke-opacity": "1",
            "fill": "#f0e8ff", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#6600cc"
        },
        "nodes": ["ptI41","ptI42","ptI43","ptN4","ptD4"],
        "x": 14, "y": 766, "w": 810, "h": 162
    },
    {
        "id": "ptI41", "type": "inject", "z": "pt01", "g": "ptg4",
        "name": "string path → save file",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "",
        "payload": "C:/Users/anapa/AppData/Local/Temp/gofa_pts_test.json",
        "payloadType": "str",
        "x": 170, "y": 806, "wires": [["ptN4"]]
    },
    {
        "id": "ptI42", "type": "inject", "z": "pt01", "g": "ptg4",
        "name": "{savePath:'...'} → save file",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"savePath\":\"C:/Users/anapa/AppData/Local/Temp/gofa_pts_obj.json\"}",
        "payloadType": "json",
        "x": 185, "y": 846, "wires": [["ptN4"]]
    },
    {
        "id": "ptI43", "type": "inject", "z": "pt01", "g": "ptg4",
        "name": "no payload → no file write",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 185, "y": 886, "wires": [["ptN4"]]
    },
    {
        "id": "ptN4", "type": "gofa-points-export", "z": "pt01", "g": "ptg4",
        "name": "Points Export (no default path)", "robot": "cfg1", "savePath": "",
        "x": 450, "y": 846, "wires": [["ptD4"]]
    },
    {
        "id": "ptD4", "type": "debug", "z": "pt01", "g": "ptg4",
        "name": "export result", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 650, "y": 846, "wires": []
    },

    {
        "id": "ptg5",
        "type": "group",
        "z": "pt01",
        "name": "5 — gofa-points-import  (string path / array / object / no payload)",
        "style": {
            "stroke": "#007744", "stroke-opacity": "1",
            "fill": "#e8f5ee", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#007744"
        },
        "nodes": ["ptI51","ptI52","ptI53","ptI54","ptN5","ptD5"],
        "x": 14, "y": 948, "w": 810, "h": 202
    },
    {
        "id": "ptI51", "type": "inject", "z": "pt01", "g": "ptg5",
        "name": "string path → load file",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "",
        "payload": "C:/Users/anapa/AppData/Local/Temp/gofa_pts_test.json",
        "payloadType": "str",
        "x": 165, "y": 988, "wires": [["ptN5"]]
    },
    {
        "id": "ptI52", "type": "inject", "z": "pt01", "g": "ptg5",
        "name": "array → import directly",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"id\":\"test-pt-1\",\"name\":\"testpoint\",\"target\":{\"x\":300,\"y\":0,\"z\":800,\"q1\":1,\"q2\":0,\"q3\":0,\"q4\":0,\"cf1\":-1,\"cf4\":-1,\"cf6\":0,\"cfx\":0}}]",
        "payloadType": "json",
        "x": 160, "y": 1028, "wires": [["ptN5"]]
    },
    {
        "id": "ptI53", "type": "inject", "z": "pt01", "g": "ptg5",
        "name": "{loadPath:'...'} → load file",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"loadPath\":\"C:/Users/anapa/AppData/Local/Temp/gofa_pts_test.json\"}",
        "payloadType": "json",
        "x": 180, "y": 1068, "wires": [["ptN5"]]
    },
    {
        "id": "ptI54", "type": "inject", "z": "pt01", "g": "ptg5",
        "name": "no payload → clear all points",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 190, "y": 1108, "wires": [["ptN5"]]
    },
    {
        "id": "ptN5", "type": "gofa-points-import", "z": "pt01", "g": "ptg5",
        "name": "Points Import (no default path)", "robot": "cfg1", "loadPath": "",
        "x": 450, "y": 1048, "wires": [["ptD5"]]
    },
    {
        "id": "ptD5", "type": "debug", "z": "pt01", "g": "ptg5",
        "name": "import result", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 640, "y": 1048, "wires": []
    },

    {
        "id": "ptg6",
        "type": "group",
        "z": "pt01",
        "name": "6 — gofa-subscribe-pose  (interval override / toggle)",
        "style": {
            "stroke": "#cc0044", "stroke-opacity": "1",
            "fill": "#ffe8ee", "fill-opacity": "0.5",
            "label": true, "label-position": "nw", "color": "#cc0044"
        },
        "nodes": ["ptI61","ptI62","ptI63","ptN6","ptD6"],
        "x": 14, "y": 1170, "w": 810, "h": 162
    },
    {
        "id": "ptI61", "type": "inject", "z": "pt01", "g": "ptg6",
        "name": "{interval:2000} → start at 2 s",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "{\"interval\":2000}", "payloadType": "json",
        "x": 185, "y": 1210, "wires": [["ptN6"]]
    },
    {
        "id": "ptI62", "type": "inject", "z": "pt01", "g": "ptg6",
        "name": "{interval:200} → start at 200 ms",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "{\"interval\":200}", "payloadType": "json",
        "x": 195, "y": 1250, "wires": [["ptN6"]]
    },
    {
        "id": "ptI63", "type": "inject", "z": "pt01", "g": "ptg6",
        "name": "no payload → stop (or start 500 ms)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1,
        "topic": "", "payload": "", "payloadType": "str",
        "x": 210, "y": 1290, "wires": [["ptN6"]]
    },
    {
        "id": "ptN6", "type": "gofa-subscribe-pose", "z": "pt01", "g": "ptg6",
        "name": "Subscribe Pose (default 500 ms)", "robot": "cfg1", "interval": 500,
        "x": 460, "y": 1250, "wires": [["ptD6"]]
    },
    {
        "id": "ptD6", "type": "debug", "z": "pt01", "g": "ptg6",
        "name": "pose stream", "active": true, "tosidebar": true,
        "console": false, "tostatus": false,
        "complete": "payload", "targetType": "msg",
        "x": 660, "y": 1250, "wires": []
    }
]
