flows/gofa_demo_flow.json
[
  {"id":"tab_demo","type":"tab","label":"ABB-GoFa-12 Demo","disabled":false,"info":""},
  {"id":"cfg1","type":"gofa-robot","name":"ABB-GoFa-12","ip":"192.168.20.17","rwsPort":"443","socketPort":"1025","username":"Admin","pointsFile":"points.json"},

  {"id":"c1","type":"comment","z":"tab_demo","g":"grp1","name":"Input: any msg  |  Output: ctrlstate / opmode / speed / rapid / x,y,z / j1-j6","info":"","x":320,"y":102,"wires":[]},
  {"id":"i_st","type":"inject","z":"tab_demo","g":"grp1","name":"Read Status","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":157,"wires":[["n_st"]]},
  {"id":"n_st","type":"gofa-status","z":"tab_demo","g":"grp1","name":"","robot":"cfg1","x":390,"y":157,"wires":[["d_st"]]},
  {"id":"d_st","type":"debug","z":"tab_demo","g":"grp1","name":"{ ctrlstate, opmode, speed, rapid }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":157,"wires":[]},
  {"id":"i_po","type":"inject","z":"tab_demo","g":"grp1","name":"Read Pose","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":212,"wires":[["n_po"]]},
  {"id":"n_po","type":"gofa-pose","z":"tab_demo","g":"grp1","name":"","robot":"cfg1","x":390,"y":212,"wires":[["d_po"]]},
  {"id":"d_po","type":"debug","z":"tab_demo","g":"grp1","name":"{ x, y, z, q1-q4, cf1/4/6/x }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":212,"wires":[]},
  {"id":"i_jo","type":"inject","z":"tab_demo","g":"grp1","name":"Read Joints","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":267,"wires":[["n_jo"]]},
  {"id":"n_jo","type":"gofa-joints","z":"tab_demo","g":"grp1","name":"","robot":"cfg1","x":390,"y":267,"wires":[["d_jo"]]},
  {"id":"d_jo","type":"debug","z":"tab_demo","g":"grp1","name":"{ j1, j2, j3, j4, j5, j6 } degrees","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":267,"wires":[]},
  {"id":"grp1","type":"group","z":"tab_demo","name":"1 - Read Robot State","style":{"stroke":"#0099cc","stroke-opacity":"1","fill":"#e8f4f8","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#0099cc"},"nodes":["c1","i_st","n_st","d_st","i_po","n_po","d_po","i_jo","n_jo","d_jo"],"x":74,"y":80,"w":660,"h":225},

  {"id":"c2","type":"comment","z":"tab_demo","g":"grp2","name":"HOME: robot moves to saved home position  |  SETHOME: saves current pose as the new home","info":"","x":320,"y":347,"wires":[]},
  {"id":"i_hm","type":"inject","z":"tab_demo","g":"grp2","name":"Move HOME","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":402,"wires":[["n_hm"]]},
  {"id":"n_hm","type":"gofa-move","z":"tab_demo","g":"grp2","name":"HOME","robot":"cfg1","command":"HOME","x":390,"y":402,"wires":[["d_hm"]]},
  {"id":"d_hm","type":"debug","z":"tab_demo","g":"grp2","name":"{ ok, ack:'OK:HOME' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":402,"wires":[]},
  {"id":"i_sh","type":"inject","z":"tab_demo","g":"grp2","name":"Set Home (here)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":457,"wires":[["n_sh"]]},
  {"id":"n_sh","type":"gofa-move","z":"tab_demo","g":"grp2","name":"SETHOME","robot":"cfg1","command":"SETHOME","x":390,"y":457,"wires":[["d_sh"]]},
  {"id":"d_sh","type":"debug","z":"tab_demo","g":"grp2","name":"{ ok, ack:'OK:SETHOME' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":457,"wires":[]},
  {"id":"grp2","type":"group","z":"tab_demo","name":"2 - Move Home / Set Home","style":{"stroke":"#00aa44","stroke-opacity":"1","fill":"#e8f5ec","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#00aa44"},"nodes":["c2","i_hm","n_hm","d_hm","i_sh","n_sh","d_sh"],"x":74,"y":325,"w":660,"h":170},

  {"id":"c3","type":"comment","z":"tab_demo","g":"grp3","name":"Controls motor power via RWS  |  Override: msg.payload.action = 'motoron' | 'motoroff'","info":"","x":320,"y":537,"wires":[]},
  {"id":"i_mon","type":"inject","z":"tab_demo","g":"grp3","name":"Motors ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":592,"wires":[["n_mon"]]},
  {"id":"n_mon","type":"gofa-motor","z":"tab_demo","g":"grp3","name":"Motors ON","robot":"cfg1","action":"motoron","x":390,"y":592,"wires":[["d_mon"]]},
  {"id":"d_mon","type":"debug","z":"tab_demo","g":"grp3","name":"{ ok:true, action:'motoron' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":592,"wires":[]},
  {"id":"i_mof","type":"inject","z":"tab_demo","g":"grp3","name":"Motors OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":647,"wires":[["n_mof"]]},
  {"id":"n_mof","type":"gofa-motor","z":"tab_demo","g":"grp3","name":"Motors OFF","robot":"cfg1","action":"motoroff","x":390,"y":647,"wires":[["d_mof"]]},
  {"id":"d_mof","type":"debug","z":"tab_demo","g":"grp3","name":"{ ok:true, action:'motoroff' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":647,"wires":[]},
  {"id":"grp3","type":"group","z":"tab_demo","name":"3 - Motor Control","style":{"stroke":"#ff6600","stroke-opacity":"1","fill":"#fff0e8","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#ff6600"},"nodes":["c3","i_mon","n_mon","d_mon","i_mof","n_mof","d_mof"],"x":74,"y":515,"w":660,"h":170},

  {"id":"c4","type":"comment","z":"tab_demo","g":"grp4","name":"Moves TCP relative to current pose  |  X/Y/Z = base frame mm (max 50)  |  RX/RY/RZ = tool frame deg (max 30)","info":"","x":320,"y":727,"wires":[]},
  {"id":"i_jx","type":"inject","z":"tab_demo","g":"grp4","name":"Jog X +20 mm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":782,"wires":[["n_jx"]]},
  {"id":"n_jx","type":"gofa-jog","z":"tab_demo","g":"grp4","name":"Jog X +20 mm","robot":"cfg1","axis":"X","dir":"+","step":20,"x":390,"y":782,"wires":[["d_jx"]]},
  {"id":"d_jx","type":"debug","z":"tab_demo","g":"grp4","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":782,"wires":[]},
  {"id":"i_jy","type":"inject","z":"tab_demo","g":"grp4","name":"Jog Y +20 mm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":837,"wires":[["n_jy"]]},
  {"id":"n_jy","type":"gofa-jog","z":"tab_demo","g":"grp4","name":"Jog Y +20 mm","robot":"cfg1","axis":"Y","dir":"+","step":20,"x":390,"y":837,"wires":[["d_jy"]]},
  {"id":"d_jy","type":"debug","z":"tab_demo","g":"grp4","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":837,"wires":[]},
  {"id":"i_jz","type":"inject","z":"tab_demo","g":"grp4","name":"Jog Z +20 mm","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":892,"wires":[["n_jz"]]},
  {"id":"n_jz","type":"gofa-jog","z":"tab_demo","g":"grp4","name":"Jog Z +20 mm","robot":"cfg1","axis":"Z","dir":"+","step":20,"x":390,"y":892,"wires":[["d_jz"]]},
  {"id":"d_jz","type":"debug","z":"tab_demo","g":"grp4","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":892,"wires":[]},
  {"id":"i_jrz","type":"inject","z":"tab_demo","g":"grp4","name":"Jog RZ +5 deg","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":947,"wires":[["n_jrz"]]},
  {"id":"n_jrz","type":"gofa-jog","z":"tab_demo","g":"grp4","name":"Jog RZ +5 deg","robot":"cfg1","axis":"RZ","dir":"+","step":5,"x":390,"y":947,"wires":[["d_jrz"]]},
  {"id":"d_jrz","type":"debug","z":"tab_demo","g":"grp4","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":947,"wires":[]},
  {"id":"grp4","type":"group","z":"tab_demo","name":"4 - Cartesian Jog","style":{"stroke":"#6600cc","stroke-opacity":"1","fill":"#f0e8ff","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#6600cc"},"nodes":["c4","i_jx","n_jx","d_jx","i_jy","n_jy","d_jy","i_jz","n_jz","d_jz","i_jrz","n_jrz","d_jrz"],"x":74,"y":705,"w":660,"h":280},

  {"id":"c5","type":"comment","z":"tab_demo","g":"grp5","name":"Rotates one joint by a relative angle (max 30 deg)  |  Override: msg.payload.{joint,dir,step}","info":"","x":320,"y":1027,"wires":[]},
  {"id":"i_jj1","type":"inject","z":"tab_demo","g":"grp5","name":"Joint J1 +5 deg","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1082,"wires":[["n_jj1"]]},
  {"id":"n_jj1","type":"gofa-joint-jog","z":"tab_demo","g":"grp5","name":"Joint J1 +5 deg","robot":"cfg1","joint":"J1","dir":"+","step":5,"x":390,"y":1082,"wires":[["d_jj1"]]},
  {"id":"d_jj1","type":"debug","z":"tab_demo","g":"grp5","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1082,"wires":[]},
  {"id":"i_jj2","type":"inject","z":"tab_demo","g":"grp5","name":"Joint J2 +5 deg","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1137,"wires":[["n_jj2"]]},
  {"id":"n_jj2","type":"gofa-joint-jog","z":"tab_demo","g":"grp5","name":"Joint J2 +5 deg","robot":"cfg1","joint":"J2","dir":"+","step":5,"x":390,"y":1137,"wires":[["d_jj2"]]},
  {"id":"d_jj2","type":"debug","z":"tab_demo","g":"grp5","name":"{ ok, ack, token }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1137,"wires":[]},
  {"id":"grp5","type":"group","z":"tab_demo","name":"5 - Joint Jog","style":{"stroke":"#009999","stroke-opacity":"1","fill":"#e8f5f5","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#009999"},"nodes":["c5","i_jj1","n_jj1","d_jj1","i_jj2","n_jj2","d_jj2"],"x":74,"y":1005,"w":660,"h":170},

  {"id":"c6","type":"comment","z":"tab_demo","g":"grp6","name":"Run in order: 1-Save  2-List  3-Go To  4-Delete  |  Point name in node properties or msg.payload.name / msg.payload.id","info":"","x":320,"y":1217,"wires":[]},
  {"id":"i_sv","type":"inject","z":"tab_demo","g":"grp6","name":"1. Save Current Pose","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1272,"wires":[["n_sv"]]},
  {"id":"n_sv","type":"gofa-save-point","z":"tab_demo","g":"grp6","name":"1. Save Current Pose","robot":"cfg1","pointName":"","x":390,"y":1272,"wires":[["d_sv"]]},
  {"id":"d_sv","type":"debug","z":"tab_demo","g":"grp6","name":"{ ok, point:{id,name,target}, points:[] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1272,"wires":[]},
  {"id":"i_li","type":"inject","z":"tab_demo","g":"grp6","name":"2. List All Points","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1327,"wires":[["n_li"]]},
  {"id":"n_li","type":"gofa-point-list","z":"tab_demo","g":"grp6","name":"2. List All Points","robot":"cfg1","x":390,"y":1327,"wires":[["d_li"]]},
  {"id":"d_li","type":"debug","z":"tab_demo","g":"grp6","name":"[ {id, name, target}, ... ]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1327,"wires":[]},
  {"id":"i_gt","type":"inject","z":"tab_demo","g":"grp6","name":"3. Go to Point","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1382,"wires":[["n_gt"]]},
  {"id":"n_gt","type":"gofa-go-point","z":"tab_demo","g":"grp6","name":"3. Go to Point","robot":"cfg1","pointName":"Demo Point","x":390,"y":1382,"wires":[["d_gt"]]},
  {"id":"d_gt","type":"debug","z":"tab_demo","g":"grp6","name":"{ ok, ack, point }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1382,"wires":[]},
  {"id":"i_dl","type":"inject","z":"tab_demo","g":"grp6","name":"4. Delete Point","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1437,"wires":[["n_dl"]]},
  {"id":"n_dl","type":"gofa-delete-point","z":"tab_demo","g":"grp6","name":"4. Delete Point","robot":"cfg1","pointName":"Demo Point","x":390,"y":1437,"wires":[["d_dl"]]},
  {"id":"d_dl","type":"debug","z":"tab_demo","g":"grp6","name":"{ ok, deleted, points:[] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1437,"wires":[]},
  {"id":"grp6","type":"group","z":"tab_demo","name":"6 - Saved Points","style":{"stroke":"#007744","stroke-opacity":"1","fill":"#e8f5ee","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#007744"},"nodes":["c6","i_sv","n_sv","d_sv","i_li","n_li","d_li","i_gt","n_gt","d_gt","i_dl","n_dl","d_dl"],"x":74,"y":1195,"w":660,"h":280},

  {"id":"c7","type":"comment","z":"tab_demo","g":"grp7","name":"Run Sequence: visits each saved point in order  |  Output 1 = after each step  |  Output 2 = done/stopped  |  Stop: halts after current step","info":"","x":320,"y":1517,"wires":[]},
  {"id":"i_sq","type":"inject","z":"tab_demo","g":"grp7","name":"Run Sequence","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1572,"wires":[["n_sq"]]},
  {"id":"n_sq","type":"gofa-sequencer","z":"tab_demo","g":"grp7","name":"Demo Sequence","robot":"cfg1","steps":[{"name":"Demo Point"}],"dwell":1000,"loop":false,"pingpong":false,"x":390,"y":1572,"wires":[["d_sqstep"],["d_sqdone"]]},
  {"id":"d_sqstep","type":"debug","z":"tab_demo","g":"grp7","name":"{ step, total, name, ack }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1572,"wires":[]},
  {"id":"d_sqdone","type":"debug","z":"tab_demo","g":"grp7","name":"{ done:true } or { stopped:true }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1627,"wires":[]},
  {"id":"i_ss","type":"inject","z":"tab_demo","g":"grp7","name":"Stop Sequence","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":155,"y":1682,"wires":[["n_ss"]]},
  {"id":"n_ss","type":"gofa-stop-seq","z":"tab_demo","g":"grp7","name":"","robot":"cfg1","x":390,"y":1682,"wires":[["d_ss"]]},
  {"id":"d_ss","type":"debug","z":"tab_demo","g":"grp7","name":"{ ok:true, message:'stop requested' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":625,"y":1682,"wires":[]},
  {"id":"grp7","type":"group","z":"tab_demo","name":"7 - Sequence Runner","style":{"stroke":"#cc0044","stroke-opacity":"1","fill":"#ffe8ee","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#cc0044"},"nodes":["c7","i_sq","n_sq","d_sqstep","d_sqdone","i_ss","n_ss","d_ss"],"x":74,"y":1495,"w":660,"h":245},

  {"id":"c8","type":"comment","z":"tab_demo","g":"grp8","name":"PING: connectivity test  |  MOVEJ: absolute joint target  |  GRIPON/OFF: gripper  |  ZONE: blend radius  |  STOP: halt motion","info":"","x":1120,"y":102,"wires":[]},
  {"id":"i_png","type":"inject","z":"tab_demo","g":"grp8","name":"Ping","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":157,"wires":[["n_png"]]},
  {"id":"n_png","type":"gofa-ping","z":"tab_demo","g":"grp8","name":"","robot":"cfg1","x":1190,"y":157,"wires":[["d_png"]]},
  {"id":"d_png","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, ack:'OK:PING', rtt }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":157,"wires":[]},
  {"id":"i_mj","type":"inject","z":"tab_demo","g":"grp8","name":"MoveJ [0,0,85,0,0,0]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":212,"wires":[["n_mj"]]},
  {"id":"n_mj","type":"gofa-movej","z":"tab_demo","g":"grp8","name":"","robot":"cfg1","joints":"[0,0,85,0,0,0]","x":1190,"y":212,"wires":[["d_mj"]]},
  {"id":"d_mj","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, joints:[0,0,85,0,0,0] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":212,"wires":[]},
  {"id":"i_gon","type":"inject","z":"tab_demo","g":"grp8","name":"Grip ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":267,"wires":[["n_gon"]]},
  {"id":"n_gon","type":"gofa-grip","z":"tab_demo","g":"grp8","name":"GRIPON","robot":"cfg1","action":"on","signal":"DO10_1","x":1190,"y":267,"wires":[["d_gon"]]},
  {"id":"d_gon","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, action:'on', signal }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":267,"wires":[]},
  {"id":"i_gof","type":"inject","z":"tab_demo","g":"grp8","name":"Grip OFF","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":322,"wires":[["n_gof"]]},
  {"id":"n_gof","type":"gofa-grip","z":"tab_demo","g":"grp8","name":"GRIPOFF","robot":"cfg1","action":"off","signal":"DO10_1","x":1190,"y":322,"wires":[["d_gof"]]},
  {"id":"d_gof","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, action:'off', signal }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":322,"wires":[]},
  {"id":"i_zn","type":"inject","z":"tab_demo","g":"grp8","name":"Zone z10","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":377,"wires":[["n_zn"]]},
  {"id":"n_zn","type":"gofa-zone-set","z":"tab_demo","g":"grp8","name":"","robot":"cfg1","zone":"z10","x":1190,"y":377,"wires":[["d_zn"]]},
  {"id":"d_zn","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, zone:'z10' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":377,"wires":[]},
  {"id":"i_sm","type":"inject","z":"tab_demo","g":"grp8","name":"Stop Motion","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":432,"wires":[["n_sm"]]},
  {"id":"n_sm","type":"gofa-stop-motion","z":"tab_demo","g":"grp8","name":"","robot":"cfg1","x":1190,"y":432,"wires":[["d_sm"]]},
  {"id":"d_sm","type":"debug","z":"tab_demo","g":"grp8","name":"{ ok, ack:'OK:STOP' }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":432,"wires":[]},
  {"id":"grp8","type":"group","z":"tab_demo","name":"8 - TCP Motion (new)","style":{"stroke":"#00aa44","stroke-opacity":"1","fill":"#e8f5ec","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#00aa44"},"nodes":["c8","i_png","n_png","d_png","i_mj","n_mj","d_mj","i_gon","n_gon","d_gon","i_gof","n_gof","d_gof","i_zn","n_zn","d_zn","i_sm","n_sm","d_sm"],"x":874,"y":80,"w":660,"h":390},

  {"id":"c9","type":"comment","z":"tab_demo","g":"grp9","name":"SPEED-SET: speed override % via RWS mastership  |  RAPID-VAR-READ: read PERS/VAR  |  RAPID-EXEC / RAPID-VAR-WRITE: require PC Interface option","info":"","x":1120,"y":512,"wires":[]},
  {"id":"i_spd","type":"inject","z":"tab_demo","g":"grp9","name":"Set Speed 75%","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":955,"y":567,"wires":[["n_spd"]]},
  {"id":"n_spd","type":"gofa-speed-set","z":"tab_demo","g":"grp9","name":"","robot":"cfg1","speed":"75","x":1190,"y":567,"wires":[["d_spd"]]},
  {"id":"d_spd","type":"debug","z":"tab_demo","g":"grp9","name":"{ ok, speed:75 }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":567,"wires":[]},
  {"id":"i_rvr","type":"inject","z":"tab_demo","g":"grp9","name":"Read zActive","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":622,"wires":[["n_rvr"]]},
  {"id":"n_rvr","type":"gofa-rapid-var-read","z":"tab_demo","g":"grp9","name":"","robot":"cfg1","task":"T_ROB1","module":"MainModule","variable":"zActive","x":1190,"y":622,"wires":[["d_rvr"]]},
  {"id":"d_rvr","type":"debug","z":"tab_demo","g":"grp9","name":"{ ok, variable, value, source }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":622,"wires":[]},
  {"id":"i_rex","type":"inject","z":"tab_demo","g":"grp9","name":"RAPID Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":677,"wires":[["n_rex"]]},
  {"id":"n_rex","type":"gofa-rapid-exec","z":"tab_demo","g":"grp9","name":"","robot":"cfg1","action":"start","x":1190,"y":677,"wires":[["d_rex"]]},
  {"id":"d_rex","type":"debug","z":"tab_demo","g":"grp9","name":"{ ok, action } or { ok:false, error }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":677,"wires":[]},
  {"id":"i_rvw","type":"inject","z":"tab_demo","g":"grp9","name":"Write zActive=z50","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"variable\":\"zActive\",\"value\":\"[FALSE,50,75,75,7.5,75,7.5]\"}","payloadType":"json","x":955,"y":732,"wires":[["n_rvw"]]},
  {"id":"n_rvw","type":"gofa-rapid-var-write","z":"tab_demo","g":"grp9","name":"","robot":"cfg1","task":"T_ROB1","module":"MainModule","variable":"zActive","value":"","x":1190,"y":732,"wires":[["d_rvw"]]},
  {"id":"d_rvw","type":"debug","z":"tab_demo","g":"grp9","name":"{ ok, variable, value } or { ok:false }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":732,"wires":[]},
  {"id":"grp9","type":"group","z":"tab_demo","name":"9 - Speed & RAPID Control (new)","style":{"stroke":"#6600cc","stroke-opacity":"1","fill":"#f0e8ff","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#6600cc"},"nodes":["c9","i_spd","n_spd","d_spd","i_rvr","n_rvr","d_rvr","i_rex","n_rex","d_rex","i_rvw","n_rvw","d_rvw"],"x":874,"y":490,"w":660,"h":280},

  {"id":"c10","type":"comment","z":"tab_demo","g":"grp10","name":"SYSTEM-INFO: RW version + ctrl identity  |  ELOG: controller event log  |  FILE-READ: download file  |  UPLOAD-MOD: deploy RAPID .mod","info":"","x":1120,"y":812,"wires":[]},
  {"id":"i_si","type":"inject","z":"tab_demo","g":"grp10","name":"System Info","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":867,"wires":[["n_si"]]},
  {"id":"n_si","type":"gofa-system-info","z":"tab_demo","g":"grp10","name":"","robot":"cfg1","x":1190,"y":867,"wires":[["d_si"]]},
  {"id":"d_si","type":"debug","z":"tab_demo","g":"grp10","name":"{ ok, rwVersion, ctrlId, ctrlType, ctrlMac }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":867,"wires":[]},
  {"id":"i_el","type":"inject","z":"tab_demo","g":"grp10","name":"Read Elog","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":922,"wires":[["n_el"]]},
  {"id":"n_el","type":"gofa-elog","z":"tab_demo","g":"grp10","name":"","robot":"cfg1","domain":"1","count":10,"x":1190,"y":922,"wires":[["d_el"]]},
  {"id":"d_el","type":"debug","z":"tab_demo","g":"grp10","name":"{ ok, domain, entries:[{code,title,tstamp}] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":922,"wires":[]},
  {"id":"i_fr","type":"inject","z":"tab_demo","g":"grp10","name":"Read MainModule.mod","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":977,"wires":[["n_fr"]]},
  {"id":"n_fr","type":"gofa-file-read","z":"tab_demo","g":"grp10","name":"","robot":"cfg1","remotePath":"$HOME/Programs/MainModule.mod","encoding":"utf8","x":1190,"y":977,"wires":[["d_fr"]]},
  {"id":"d_fr","type":"debug","z":"tab_demo","g":"grp10","name":"{ ok, remotePath, content, bytes }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":977,"wires":[]},
  {"id":"i_um","type":"inject","z":"tab_demo","g":"grp10","name":"Upload MainModule.mod","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/home/dan/nnnn/ABB-GoFa-12/rapid/MainModule.mod","payloadType":"str","x":955,"y":1032,"wires":[["n_um"]]},
  {"id":"n_um","type":"gofa-upload-mod","z":"tab_demo","g":"grp10","name":"","robot":"cfg1","remotePath":"$HOME/Programs/MainModule.mod","x":1190,"y":1032,"wires":[["d_um"]]},
  {"id":"d_um","type":"debug","z":"tab_demo","g":"grp10","name":"{ ok, remotePath, bytes }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1032,"wires":[]},
  {"id":"grp10","type":"group","z":"tab_demo","name":"10 - System, Log & Files (new)","style":{"stroke":"#0099cc","stroke-opacity":"1","fill":"#e8f4f8","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#0099cc"},"nodes":["c10","i_si","n_si","d_si","i_el","n_el","d_el","i_fr","n_fr","d_fr","i_um","n_um","d_um"],"x":874,"y":790,"w":660,"h":280},

  {"id":"c11","type":"comment","z":"tab_demo","g":"grp11","name":"IO-LIST: enumerate signals  |  DI-READ: digital in  |  AI-READ: analog in  |  DO/AO-WRITE: require external I/O module (not on CRB-15000 default)","info":"","x":1120,"y":1112,"wires":[]},
  {"id":"i_iol","type":"inject","z":"tab_demo","g":"grp11","name":"List All Signals","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1167,"wires":[["n_iol"]]},
  {"id":"n_iol","type":"gofa-io-list","z":"tab_demo","g":"grp11","name":"","robot":"cfg1","x":1190,"y":1167,"wires":[["d_iol"]]},
  {"id":"d_iol","type":"debug","z":"tab_demo","g":"grp11","name":"{ ok, count, signals:[{name,type,lvalue}] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1167,"wires":[]},
  {"id":"i_dir","type":"inject","z":"tab_demo","g":"grp11","name":"Read Asi1Button1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1222,"wires":[["n_dir"]]},
  {"id":"n_dir","type":"gofa-di-read","z":"tab_demo","g":"grp11","name":"","robot":"cfg1","signal":"Asi1Button1","x":1190,"y":1222,"wires":[["d_dir"]]},
  {"id":"d_dir","type":"debug","z":"tab_demo","g":"grp11","name":"{ ok, signal, value:0|1 }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1222,"wires":[]},
  {"id":"i_air","type":"inject","z":"tab_demo","g":"grp11","name":"Read AI1 (analog in)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1277,"wires":[["n_air"]]},
  {"id":"n_air","type":"gofa-ai-read","z":"tab_demo","g":"grp11","name":"","robot":"cfg1","signal":"AI1","x":1190,"y":1277,"wires":[["d_air"]]},
  {"id":"d_air","type":"debug","z":"tab_demo","g":"grp11","name":"{ ok, signal, value } or { ok:false }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1277,"wires":[]},
  {"id":"i_dow","type":"inject","z":"tab_demo","g":"grp11","name":"DO10_1 = 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":955,"y":1332,"wires":[["n_dow"]]},
  {"id":"n_dow","type":"gofa-do-write","z":"tab_demo","g":"grp11","name":"","robot":"cfg1","signal":"DO10_1","value":"1","x":1190,"y":1332,"wires":[["d_dow"]]},
  {"id":"d_dow","type":"debug","z":"tab_demo","g":"grp11","name":"{ ok, signal, value } or { ok:false }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1332,"wires":[]},
  {"id":"i_aow","type":"inject","z":"tab_demo","g":"grp11","name":"AO1 = 2.5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"signal\":\"AO1\",\"value\":2.5}","payloadType":"json","x":955,"y":1387,"wires":[["n_aow"]]},
  {"id":"n_aow","type":"gofa-ao-write","z":"tab_demo","g":"grp11","name":"","robot":"cfg1","signal":"AO1","value":"0","x":1190,"y":1387,"wires":[["d_aow"]]},
  {"id":"d_aow","type":"debug","z":"tab_demo","g":"grp11","name":"{ ok, signal, value } or { ok:false }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1387,"wires":[]},
  {"id":"grp11","type":"group","z":"tab_demo","name":"11 - I/O Signals (new)","style":{"stroke":"#ff6600","stroke-opacity":"1","fill":"#fff0e8","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#ff6600"},"nodes":["c11","i_iol","n_iol","d_iol","i_dir","n_dir","d_dir","i_air","n_air","d_air","i_dow","n_dow","d_dow","i_aow","n_aow","d_aow"],"x":874,"y":1090,"w":660,"h":335},

  {"id":"c12","type":"comment","z":"tab_demo","g":"grp12","name":"Enable/disable robot lead-through (hand-guiding) via RWS  |  Requires manual mode + enable switch held on FlexPendant","info":"","x":1120,"y":1467,"wires":[]},
  {"id":"i_lte","type":"inject","z":"tab_demo","g":"grp12","name":"Enable Lead-through","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1522,"wires":[["n_lte"]]},
  {"id":"n_lte","type":"gofa-leadthrough-enable","z":"tab_demo","g":"grp12","name":"","robot":"cfg1","x":1190,"y":1522,"wires":[["d_lte"]]},
  {"id":"d_lte","type":"debug","z":"tab_demo","g":"grp12","name":"{ ok:true }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1522,"wires":[]},
  {"id":"i_ltd","type":"inject","z":"tab_demo","g":"grp12","name":"Disable Lead-through","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1577,"wires":[["n_ltd"]]},
  {"id":"n_ltd","type":"gofa-leadthrough-disable","z":"tab_demo","g":"grp12","name":"","robot":"cfg1","x":1190,"y":1577,"wires":[["d_ltd"]]},
  {"id":"d_ltd","type":"debug","z":"tab_demo","g":"grp12","name":"{ ok:true }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1577,"wires":[]},
  {"id":"grp12","type":"group","z":"tab_demo","name":"12 - Lead-through (new)","style":{"stroke":"#cc0044","stroke-opacity":"1","fill":"#ffe8ee","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#cc0044"},"nodes":["c12","i_lte","n_lte","d_lte","i_ltd","n_ltd","d_ltd"],"x":874,"y":1445,"w":660,"h":170},

  {"id":"c13","type":"comment","z":"tab_demo","g":"grp13","name":"EXPORT: dump saved-points list to msg.payload  |  IMPORT: replace list from msg.payload array (connect Export output to Import input for backup/restore)","info":"","x":1120,"y":1657,"wires":[]},
  {"id":"i_pex","type":"inject","z":"tab_demo","g":"grp13","name":"Export Points","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1712,"wires":[["n_pex"]]},
  {"id":"n_pex","type":"gofa-points-export","z":"tab_demo","g":"grp13","name":"","robot":"cfg1","x":1190,"y":1712,"wires":[["d_pex"]]},
  {"id":"d_pex","type":"debug","z":"tab_demo","g":"grp13","name":"{ ok, count, points:[...] }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1712,"wires":[]},
  {"id":"i_pim","type":"inject","z":"tab_demo","g":"grp13","name":"Import [] (clear all)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":955,"y":1767,"wires":[["n_pim"]]},
  {"id":"n_pim","type":"gofa-points-import","z":"tab_demo","g":"grp13","name":"","robot":"cfg1","x":1190,"y":1767,"wires":[["d_pim"]]},
  {"id":"d_pim","type":"debug","z":"tab_demo","g":"grp13","name":"{ ok, count }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1767,"wires":[]},
  {"id":"grp13","type":"group","z":"tab_demo","name":"13 - Points Transfer (new)","style":{"stroke":"#009999","stroke-opacity":"1","fill":"#e8f5f5","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#009999"},"nodes":["c13","i_pex","n_pex","d_pex","i_pim","n_pim","d_pim"],"x":874,"y":1635,"w":660,"h":170},

  {"id":"c14","type":"comment","z":"tab_demo","g":"grp14","name":"STATE/IO: WebSocket push from controller  |  VAR/POSE: polling (toggle on/off with any input)  |  Messages stream to debug until toggled off or redeployed","info":"","x":1120,"y":1847,"wires":[]},
  {"id":"i_sst","type":"inject","z":"tab_demo","g":"grp14","name":"Subscribe ctrl-state","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1902,"wires":[["n_sst"]]},
  {"id":"n_sst","type":"gofa-subscribe-state","z":"tab_demo","g":"grp14","name":"","robot":"cfg1","x":1190,"y":1902,"wires":[["d_sst"]]},
  {"id":"d_sst","type":"debug","z":"tab_demo","g":"grp14","name":"{ ok, state:'motoron'|'motoroff'|... }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1902,"wires":[]},
  {"id":"i_sio","type":"inject","z":"tab_demo","g":"grp14","name":"Subscribe Asi1Button1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":1957,"wires":[["n_sio"]]},
  {"id":"n_sio","type":"gofa-subscribe-io","z":"tab_demo","g":"grp14","name":"","robot":"cfg1","signal":"Asi1Button1","x":1190,"y":1957,"wires":[["d_sio"]]},
  {"id":"d_sio","type":"debug","z":"tab_demo","g":"grp14","name":"{ ok, signal, value:0|1 }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":1957,"wires":[]},
  {"id":"i_sva","type":"inject","z":"tab_demo","g":"grp14","name":"Toggle poll zActive","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":2012,"wires":[["n_sva"]]},
  {"id":"n_sva","type":"gofa-subscribe-var","z":"tab_demo","g":"grp14","name":"","robot":"cfg1","task":"T_ROB1","module":"MainModule","variable":"zActive","interval":"1000","x":1190,"y":2012,"wires":[["d_sva"]]},
  {"id":"d_sva","type":"debug","z":"tab_demo","g":"grp14","name":"{ ok, variable, value, source }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":2012,"wires":[]},
  {"id":"i_spo","type":"inject","z":"tab_demo","g":"grp14","name":"Toggle poll pose","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":955,"y":2067,"wires":[["n_spo"]]},
  {"id":"n_spo","type":"gofa-subscribe-pose","z":"tab_demo","g":"grp14","name":"","robot":"cfg1","interval":"500","x":1190,"y":2067,"wires":[["d_spo"]]},
  {"id":"d_spo","type":"debug","z":"tab_demo","g":"grp14","name":"{ ok, x, y, z, q1, q2, q3, q4 }","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1425,"y":2067,"wires":[]},
  {"id":"grp14","type":"group","z":"tab_demo","name":"14 - Real-time Subscriptions (new)","style":{"stroke":"#003399","stroke-opacity":"1","fill":"#e8eeff","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#003399"},"nodes":["c14","i_sst","n_sst","d_sst","i_sio","n_sio","d_sio","i_sva","n_sva","d_sva","i_spo","n_spo","d_spo"],"x":874,"y":1825,"w":660,"h":280}
]
